<!DOCTYPE html>
<html>
<head lang = "en">
  <meta charset = "UTF-8">
  <title>userDemo</title>
  <link rel = "stylesheet" href = "lib/bootstrap/dist/css/bootstrap.css"/>
  <link rel="shortcut icon" href="res/img/icon.jpeg" type="image/x-icon">
</head>
<body ng-app="myApp" ng-controller="DemoUserCtrl">

<p><label class="label-success">{{name}}</label><label class="label-success">{{password}}</label></p>

<div>
  <input type = "text" ng-model="name"/>
  <input type = "text" ng-model="password"/>
  <button ng-click="add()" class="btn btn-success">add</button>
</div>
<div ng-repeat="item in allItem">
<input type = "text" ng-model="item.name"/>
<input type = "text" ng-model="item.password"/>
</div>

<div>
<input type = "text" ng-model="addName"/>
<input type = "text" ng-model="addPassword"/>
<button ng-click="edit()" class="btn btn-success">edit</button>
</div>
<div>
  <input type = "text" ng-model="delName"/>
  <input type = "text" ng-model="delPassword"/>
  <button ng-click="delete()" class="btn btn-success">delete</button>
</div>
<div>
  <input type = "text" ng-model="userName"/>
  <input type = "text" ng-model="userPwd"/>
</div>

<script src = "lib/angular.js"></script>
<script src = "lib/angular-resource.js"></script>
<script src = "app.js"></script>
</body>
</html>